// theme
$primary-color: #dc143c;
$white-smoke-color: #f5f5f5;
$gray-color: #454545;
$beige-color: #f6ede1;
// Colores cards tienda
$text-color-card:#ede6e6;
$bg-color-card: #c6213a;
// Shadow
$shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;