/* -- header -- */
header {
    @include box-size(100%, 80px);
    @include flex(row, flex-start, center);
    padding: 20px 40px;
    background-color: $primary-color;

    ul {
        @include flex(row, flex-start, flex-start);
        gap: 30px;

        li {
            list-style: none;

            a {
                padding: 5px 8px;
                text-decoration: none;
                color:$white-smoke-color;
                text-align: center;

                &:hover {
                    background-color:$white-smoke-color ;
                    color: $primary-color; 
                    border-radius: 5px; 
                }
            }
        }
    }
}

/* boton activo header */
.active {
    background-color:$white-smoke-color ;
    color:$primary-color; 
    border-radius: 5px;   
}