/* -- sucursales -- */
.sucursales-section {
    @include flex(column, center, center);

    h4 {
        text-align: center;
        padding: 20px;
    }

    p {
        text-align: center;
        padding: 40px 20px;
    }
}

.map-google-box {
    @include flex(row, center, center)
}