@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'home';
@import 'sucursales';
@import 'tienda';
@import 'veterinaria';
@import 'comunidad';

/* -- General -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-style;
    color: $gray-color;
}

body {
    background-color: $beige-color !important;
}

/* -- Breakpoints -- */

/* -- Dispositivos medianos -- */
@media screen and (max-width: 768px) {
    header {
        padding: 20px 20px;

        ul {
            gap: 15px;

            a {
                font-size: 14px;
            }
        }
    }

    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        @include flex(row, center, flex-start)
    }

    .home-section-c1, .home-section-c2, .home-section-c3 {
        flex-wrap: wrap;
    }

    .description-box {
        width: 100%;
    }

    .veterinaria {
        p {
            font-size: 14px;
        }
    }
}

/* -- Dispositivos pequeños -- */
@media screen and (max-width: 480px) {
    header {
        height: auto;

        ul {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .card-tienda-img {
        max-height: 250px;
    }

    .card-tienda-text {
        width: 250px;
    }

    .card-tienda-subtitle {
        text-align: center;
    }

    .veterinaria-img {
        max-height: 250px;   
    }
}